.worldtimeBody {
  width: 700px;
  margin: 10px auto;
  background-color: #6ebbfe;
  padding: 10px;
  text-align: center;
}
.worldtimeTitle {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #346ef0;
  padding: 5px;
  font-size: 24px;
}
.pickTimezone {
  margin: 10px;
}
label {
  margin-right: 50px;
}
.display {
  border: 5px double #6e6e6e;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  display: block;
  padding: 10px;
  color: white;
  width: 185px;
  text-align: right;
  margin: 5px auto 20px auto !important;
}
.date {
  margin-top: 30px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .worldtimeBody {
    width: 90%;
  }
  .worldtimeTitle {
    font-size: 20px;
  }
  .timezoneList {
    width: 95%
  }
}
