.mainContent {
  min-height: 87vh;
}
.container {
  background-color: #228cf1;
  color: white;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 20px;
}

.footer {
  font-size: 20px;
  display: block;
}
.footer:nth-child(2) {
  cursor: pointer;
}
