.navbar {
  background-color: #2e48d6;
  text-align: center;
}
.navbar>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navItem {
  display: inline-block;
  padding: 10px 0;
}
.navItem>a {
  text-decoration: none;
  padding: 10px;
  color: #ccc;
}
.navItem>a:hover {
  color: white;
  background-color: #1533d9;
}
.navItem>a:active {
  color: white;
  background-color: #1533d9;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
