.datecountBody {
  width: 700px;
  margin: 10px auto;
  background-color: #6ebbfe;
  padding: 10px;
  text-align: center;
  line-height: 40px;
}
.datecountTitle {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #346ef0;
  padding: 5px;
  font-size: 24px;
  margin-bottom: 30px;
}
.input>span {
  display: inline-block;
  width: 120px;
}
.calcOption {
  width: 260px;
  margin: auto;
  text-align: left;
}
.calcOption>label{
  margin: 0;
}
.daysInput {
  width: 121.25px;
  text-align: right;
  padding: 5px;
  user-select: text;
}
.btnGroup {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .datecountBody {
    width: 90%;
  }
  .datecountTitle {
    font-size: 20px;
  }
}
